{% extends 'block1.html' %}

  {% block info %}
    <div class="container mt-4">

      <h1>Блок 6</h1>
      <p>Как уже говорилось, результаты кластеризации/субкластеризации могут быть сохранены автоматически в виде отдельных файлов (один файл = одно подмножество) для упрощения запуска дальнейшего цикла анализа, -то есть, - через загрузку результирующего файла с точками какого-либо выделенного подмножества, в качестве входного файла, для проведения дальнейшей кластеризации, уже отдельно внутри любого ранее выделенного подмножества данных.</p>

      <p>Результаты классификации так же могут быть сохранены в виде файлов: в вариантах: а) только файл train ( со значениями классифицирующих функций, рассчитанными для каждой точки данных в количестве , равном количеству найденных кластеров); б) только файл test (аналогично..); в) общий файл, в случае если разделения на train и test не было.</p>

      <p>Примечание:  значения  данных, скачиваемых на любом этапе, после этапа подбора констант,  выводятся и сохраняются в файлы результатов в Нормированном виде.  </p>
    </div>
  {% endblock %}