{% extends 'main.html' %}

  {% block content %}
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      {% url 'block_ru' 1 as block_ru1 %}
      <a class="nav-link {% if block_ru1 == request.path %} active {% endif %}" href="{% url 'block_ru' 1 %}">Блок 1</a>
    </li>
    <li class="nav-item">
      {% url 'block_ru' 2 as block_ru2 %}
      <a class="nav-link {% if block_ru2 == request.path %} active {% endif %}" href="{% url 'block_ru' 2 %}">Блок 2</a>
    </li>
    <li class="nav-item">
      {% url 'block_ru' 3 as block_ru3 %}
      <a class="nav-link {% if block_ru3 == request.path %} active {% endif %}" href="{% url 'block_ru' 3 %}">Блок 3</a>
    </li>
    <li class="nav-item">
      {% url 'block_ru' 4 as block_ru4 %}
      <a class="nav-link {% if block_ru4 == request.path %} active {% endif %}" href="{% url 'block_ru' 4 %}">Блок 4</a>
    </li>
    <li class="nav-item">
      {% url 'block_ru' 5 as block_ru5 %}
      <a class="nav-link {% if block_ru5 == request.path %} active {% endif %}" href="{% url 'block_ru' 5 %}">Блок 5</a>
    </li>
    <li class="nav-item">
      {% url 'block_ru' 6 as block_ru6 %}
      <a class="nav-link {% if block_ru6 == request.path %} active {% endif %}" href="{% url 'block_ru' 6 %}">Блок 6</a>
    </li>

  </ul>
  {% load static %}

  {% block info %}
    <div class="container mt-4">
      <h1>О сервисе</h1>
      <p>Сервис представляет собой реализацию последовательного анализа количественных данных, заданных в признаковой системе произвольной (но конечной) размерности, который включает в себя предварительный этап (интеллектуальную настройку параметров) и ТРИ основных этапа:</p>
      <ul>
        <li>
          <p>кластеризация (рис. 1, 2, 3)</p>
          <figure class="sign">
           <img src="{% static "images/1.png" %}" alt="Рисунок 1 не нейден" height=220>
           <figcaption>Рисунок 1</figcaption>
          </figure>
          <figure class="sign">
           <img src="{% static "images/2.png" %}" alt="Рисунок 2 не нейден" height=220>
           <figcaption>Рисунок 2</figcaption>
          </figure>
          <figure class="sign">
           <img src="{% static "images/3.png" %}" alt="Рисунко 3 не нейден" height=220>
           <figcaption>Рисунок 3</figcaption>
          </figure>
        </li>

        <li>
          <p>выделение выпуклых множеств {Convex set} (рис.4)</p>
          <figure class="sign">
           <img src="{% static "images/4.png" %}" alt="Рисунок 4 не нейден" height=320>
           <figcaption>Рисунок 4</figcaption>
          </figure>
        </li>
        <li>
          <p>классификацию (рис. 5), которая использует результаты любого из двух предыдущих этапов, посредством получения в выбранной системе координат «функций принадлежности» точки (объекта, вектора – что здесь трактуется синонимично) данных из «необученной» выборки к тому или иному подмножеству (теперь уже интерпретируемому как «класс»), найденному на «обученной» выборке.}</p>
          <figure class="sign">
           <img src="{% static "images/5.png" %}" alt="Рисунок 5 не нейден" height=320>
           <figcaption>Рисунок 5</figcaption>
          </figure>
        </li>
      </ul>
      <p>
        Иллюстрация одномерного случая показывает, как от точек «обученной» выборки, которые оказались отнесены каждая - к одному из двух кластеров «А» или «В» строятся две классифицирующие функции принадлежности, величина которых зависит от плотности сосредоточения точек из соответствующего кластера. Измерив значения каждой из функций в точке из «необученной» выборки (выборки точек, не прошедших кластеризацию в данном контексте) можно сделать вывод о достоверности отнесения точки в каждый из кластеров (правильнее - образованных от них классов)
      </p>
    </div>
  {% endblock %}

  {% endblock %}