{% extends 'block1.html' %}

  {% block info %}
    <div class="container mt-4">
      <h1>Блок 3</h1>
      <p>Далее, но так же в рамках этапа «Подбор констант» - выполняется расчет уже общей Матрицы расстояний, по нормированным расстояниям координат.</p>

      <p>Задаем настройку «% минимальных ..» и «стартовый коэфф-т для «а»» в диапазоне «больше 0,001 ; меньше 5».</p>

      <p>Первая настройка – аналогична, описанной выше и определяет выбор «ядра» наиболее тесно сконцентрированных точек данных, - на котором сосредотачивается основной акцент при выявлении кластеров, вторая - связана с основным управляющим параметром алгоритма (параметром «а»), отвечающим за его чувствительность : выставление значения данной настройки в относительно большое значение, определяет тенденцию к менее чувствительной работе алгоритма (выявлению крупных кластеров и игнорированию более мелкой структуры внутри них), и в обратном случае – присвоение относительно малого значения обусловливает высокую чувствительность – т.е., тенденцию к выявлению более мелких обособленных подмножеств в данных.</p>

      <h2>Выставили настройки, перешли к запуску алгоритма подбора констант алгоритма - исследующего структуру загруженных train-данных и подбирающих вариант, наиболее адекватный, анализируемым данным, с т.зр. алгоритма. Предлагается два варианта (метода) - первый - более приблизительный и быстрый ; второй - более тщательный и медленный. По итогам выполнения, основная подбираемая константа – «а» выносится пользователю с возможностью последующей ручной корректировки. После корректировки «а» необходимо будет перезапустить подбор констант.</h2>
      
      <p>Полный список констант  хранится в файле с возможностью  выгрузки и  последующей повторной загрузки  для применения этих же или новых данных. </p>
    </div>
  {% endblock %}