{% extends 'main.html' %}

  {% block content %}
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      {% url 'block' 1 as block1 %}
      <a class="nav-link {% if block1 == request.path %} active {% endif %}" href="{% url 'block' 1 %}">Блок 1</a>
    </li>
    <li class="nav-item">
      {% url 'block' 2 as block2 %}
      <a class="nav-link {% if block2 == request.path %} active {% endif %}" href="{% url 'block' 2 %}">Блок 2</a>
    </li>
    <li class="nav-item">
      {% url 'block' 3 as block3 %}
      <a class="nav-link {% if block3 == request.path %} active {% endif %}" href="{% url 'block' 3 %}">Блок 3</a>
    </li>
    <li class="nav-item">
      {% url 'block' 4 as block4 %}
      <a class="nav-link {% if block4 == request.path %} active {% endif %}" href="{% url 'block' 4 %}">Блок 4</a>
    </li>
    <li class="nav-item">
      {% url 'block' 5 as block5 %}
      <a class="nav-link {% if block5 == request.path %} active {% endif %}" href="{% url 'block' 5 %}">Блок 5</a>
    </li>
    <li class="nav-item">
      {% url 'block' 6 as block6 %}
      <a class="nav-link {% if block6 == request.path %} active {% endif %}" href="{% url 'block' 6 %}">Блок 6</a>
    </li>
  </ul>
  {% load static %}

  {% block info %}
    <div class="container mt-4">
      <h1>О сервисе</h1>
      <p>Сервис представляет собой реализацию комплексного анализа (количественных) данных, заданных в признаковой системе произвольной (но конечной) размерности, который включает в себя ТРИ основных этапа:</p>
      <ul>
        <li>
          <p>кластеризация (рис. 1, 2, 3)</p>
          <img src="{% static "images/1.png" %}" alt="Рисунок 1 не нейден" height=320>
          <img src="{% static "images/2.png" %}" alt="Рисунок 2 не нейден" height=320>
          <!-- <img src="{% static "images/3.png" %}" alt="Рисунко 3 не нейден"> -->
        </li>

        <li>
          <p>выделение выпуклых множеств {Convex set} (рис.4)</p>
          <img src="{% static "images/4.png" %}" alt="Рисунок 4 не нейден" height=320>
        </li>
        <li>
          <p>классификацию (рис 5), которая использует результаты любого из предыдущих этапов, посредством получения в выбранной системе координат «функций принадлежности» точки( объекта, вектора – что здесь трактуется синонимично) данных из «необученной» выборке к тому или иному подмножеству (теперь уже интерпретируемому как «класс»), найденному на «обученной» выборке.}</p>
          <img src="{% static "images/5.png" %}" alt="Рисунок 5 не нейден" height=320>
        </li>
      </ul>
    </div>
  {% endblock %}

  {% endblock %}