{% extends 'block1_ru.html' %}

  {% block info %}
    <div class="container mt-4">
      <h1>Блок 4</h1>
      <p>Следующий этап «Кластеризация»- включает собственно алгоритм Кластеризации. Он может быть пропущен, для перехода сразу у Субкластеризации (т.е., к «конвексной» кластеризации). Выполнив кластеризацию, получаем результаты - а именно файл по длине (количеству строк, т.е.) и составу id совпадающий с train- файлом, имеющий все поля координат из train-файла (только, следует помнить, что значения координат в файле результатов так и остаются приведенными в нормированном виде) и дополнительно – справа добавляется поле «Cluster ID» - сообщающее кластерную принадлежность каждой точки из train-файла .</p>

      <p>Алгоритм «Мерджинг» может быть опционально выполнен, после процедуры Кластеризации (и при обязательном условии выполнения этой процедуры, естественно)-он работает с полученными кластерами и сокращает их количество, выполняя слияние кластеров, в случаях когда находит их разграничение необоснованным.</p>

      <p>Алгоритм «Субкластеризация» (выявление convex-подмножеств) так же, опционален, - он может быть запущен после Кластеризации (или Кластеризации+Мерджинг), либо - сразу, минуя Кластеризацию;</p>

      <p>В первом случае, поиск convex-подмножеств выполняется уже по отдельности – внутри найденных кластеров, что сокращает объем вычислений.</p>

      <p>По выполнении субластеризации, так же получаем результаты: а именно файл по длине (количеству строк т.е.) и составу ID совпадающий с train- файлом, имеющий все поля координат из train-файла (в нормированных значениях, там где были вычислены нормы) а так же - поле «Cluster ID» - сообщающее кластерную принадлежность каждой точки из train-файла. Если этап кластеризации был пропущен, то поле «Cluster ID» будет отсутствовать. И наконец, как результат - появляется поле «СубкластерID», заполненное идентификаторами принадлежности каждой точки к тому или иному субкластеру (convex-множеству). Результаты могут быть просмотрены непосредственно со страницы Сервиса (нажатие «Посмотреть данные» на вкладке «Кластеризация»), либо скачены:</p>

      <p>а) в виде одного файла [ нажать «Скачать данные»] ; б) набора файлов по количеству найденных кластеров/сабкластеров [ нажать «Скачать данные по кластерам / по сабкластерам»].}</p>
    </div>
  {% endblock %}