{% extends 'block1.html' %}

  {% block info %}
    <div class="container mt-4">

      <h1>Блок 6</h1>
      <p>Как уже говорилось, результаты кластеризации/субкластеризации могут быть сохранены автоматически , на выбор:</p>
      <p>А) в общем файле – набор точек будет идентичен набору во входном файле;</p>
      <p>Б) в виде отдельных файлов (один файл = одно подмножество) для упрощения запуска дальнейшего цикла анализа, - то есть, - через загрузку результирующего файла с точками какого-либо выделенного подмножества, в качестве входного файла, для проведения дальнейшей кластеризации, уже отдельно внутри любого ранее выделенного подмножества данных.</p>
      <p>Результаты классификации так же могут быть сохранены в виде файла (со значениями классифицирующих функций, рассчитанными для каждой точки данных в количестве , равном количеству найденных кластеров);</p>

      <p>Примечание:  значения  данных, скачиваемых на любом этапе, после этапа подбора констант,  выводятся и сохраняются в файлы результатов в Нормированном виде.  </p>
      <hr/>
      <p>Сервис, реализует доступ к демонстрационной, упрощённой версии разработанного нами комплекса методов многомерного статистического анализа данных</p>

      <p>По всем возникающим вопросам, обращаться в специально открытую для этого тему на <a href="#">форуме</a>. А так же лично, на E-mail: <b>abc@yandex.ru</b>.</p>

      <p>Предложения и заявки на выполнение анализа пользовательских данных формата и размера, выходящих за установленные в Сервисе ограничения, так же просьба направлять на E-mail: <b>abc@yandex.ru</b></p>

      <p>Условия выполнения персональных заданий обсуждаются индивидуально и зависят, в том числе от:</p>
      <ul>
      	<li>
      		сроков
      	</li>
      	<li>
      		необходимости в предварительной обработке входных данных и сложности такой обработки
      	</li>
      	<li>
      		размера входных данных (что соответственно, определяет величину вычислительных мощностей, резервируемую под обработку)
      	</li>
      </ul>

    </div>
  {% endblock %}