{% extends 'block1.html' %}

  {% block info %}
    <div class="container mt-4">

      {% load static %}

      <h1>Блок 5</h1>
      <p>Следующий этап - «Классификация» - реализованный здесь алгоритм, предназначен для того, чтобы на основе картины кластеризации, полученной в процессе предшествующего этапа, для train-данных, которые приобрели роль «обученных данных» рассчитать классифицирующие функции принадлежности, оценивающие «вероятность» (на самом деле, конечно – лишь, некую ее косвенную характеристику) принадлежности точки данных к тому или иному из выявленных «кластеров/классов». Для демонстрации, упомянутые функции обычно рассчитывается сперва для каждой точки самого train-файла – их количество всегда равно количеству найденных кластеров.</p>

      <p>И так же, данный набор функций может быть рассчитан для любой точки, заданной в системе, имеющей минимум одну общую координату с системой, в которой заданы точки train-данных. В полной мере, суть и возможности реализованного здесь решения, демонстрирует следующий пример (рис.7.0) : видим, фрагмент train данных, описанных системой из пяти координат: Х1, Х2, Х3, Х4, Х5. Для использования в кластеризации оставлены только первые две координаты Х1 иХ2.</p>

      <p>Test данные, заданы в системе Х3, Х5, Х6, Х7 - имея таким образом лишь две общие координаты с train, (причем – среди них вообще нет ни одной из тех, что используются для кластеризации - такого ограничения метод не накладывает).</p>

      <p>По выполнении кластеризации-сабкластеризации получили из train-данных подмножества - покажем их на проекции Х1Х2 (вернемся к рис.4) - то есть, именно на тех координатах, на которых и кластеризовали – картина выглядит наглядно.</p>

      <img src="{% static "images/4.png" %}" alt="Рисунок 4 не нейден" height=320>

      <p>А теперь покажем эти же самые train-данные на проекции Х3Х5(рис.7.1) - пока без разбиения на кластеры - взгляд на картину, наводит на предположение, что применение методов кластеризации к данным, если выбрать для анализа эти Х3 и Х5 едва ли даст продуктивный результат - данные выглядят «монолитно» и «аморфно».</p>

      <img src="{% static "images/7.1.png" %}" alt="Рисунок 7.1 не нейден" height=320>

      <p>Теперь на следующей иллюстрации (рис.7.2) покажем результаты кластеризации, полученные на Х1 и Х2, но спроецированные на Х3Х5. Взгляд на картинку, располагает к выводу (пусть, и умозрительному, – цель таких примеров – наглядность и не более) что в отличие от кластеризации, метод классификации (относящийся уже к категории методов «обучение с учителем») имеет все шансы оказаться уже вполне результативным.</p>

      <img src="{% static "images/7.2.png" %}" alt="Рисунок 7.2 не нейден" height=320>

      <p>«Учителем» здесь выступает уже полученная пред этим на других координатах разметка train- данных на кластеры. В каждой точке рассчитываются персональные классифицирующие функции принадлежности, – по числу найденных кластеров. По величине каждой такой функции в данной точке мы судим о «вероятности» верного отнесения точки к кластеру. Понятно, что значения этих функций могут быть получены, как для точек из train, так и для точек из test, - короче, вообще для любой точки, которую возможно описать в подсистеме Х3Х5.</p>

    </div>
  {% endblock %}