{% extends 'main.html' %}

  {% block content %}

    {% load f_extras %}

  	<ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        {% url 'start_project' data.id as start_project %}
        <a class="nav-link {% if start_project == request.path %} active {% endif %}" href="{% url 'start_project' data.id %}">Начальная страница</a>
      </li>
      <li class="nav-item">
        {% url 'const_start' data.id as const_start %}
        <a class="nav-link {% if const_start == request.path %} active {% endif %}" href="{% url 'const_start' data.id %}">Подбор констант</a>
      </li>
      <li class="nav-item">
        {% url 'clustering_start' data.id as clustering_start %}
        {% if data.stage >= 3 %}
        <a class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</a>
        {% else %}
        <p class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</p>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'classification_start' data.id as classification_start %}
        {% if data.stage == 4 %}
        <a class="nav-link {% if classification_start == request.path %} active {% endif %}" href="{% url 'classification_start' data.id %}">Классификация</a>
        {% else %}
        <p class="nav-link {% if classification_start == request.path %} active {% endif %}" href="{% url 'classification_start' data.id %}">Классификация</p>
        {% endif %}
      </li>
    </ul>


  	<div class="container">

      <hr/>
      <h5>Название проекта: {{data.name}}</h5>
      <h5>Имя файла: {{data.attach.name}}</h5>
      <hr/>

      <p><a href="{% url 'table' data.id %}">Посмотреть данные</a></p>
      <hr/>

      <p><a href="{% url 'download_data' data.id %}">Скачать данные</a></p>
      <hr/>

      <p><a href="{% url 'download_settings' data.id %}">Скачать константы</a></p>
      <hr/>

      <form action="{% url 'const_start' data.id %}" method="post" id="none">
        {% csrf_token %}
        {% for col in columns %}
          <p>
            <input name="need_coords" class="form-check-input" type="checkbox" value="{{col.0}}" id="flexCheckDefault" {% if col.1 %} checked {% endif %} disabled>
            <label class="form-check-label" for="flexCheckDefault">
              {{col.0}}
            </label>
          </p>
        {% endfor %}

      </form>

      <h3>Выберите данные для классификации</h1>

      <form action="{% url 'classification' data.id %}" method="post" id="save">
        {% csrf_token %}
        <p><select name="project">
          {% for project in other_projects%}
            <option value={{project.id}}>{{project.name}}</option>
          {% endfor %}
        </select></p>
      </form>
      <p><button form="save" type="submit" class="btn btn-primary mt-4">Классифицировать</button></p>

      <hr/>
      <p><a href="{% url 'clear_log' data.id %}">Очистить лог</a></p>
      <hr/>
      <textarea name="text" class="form-control mb-5" id="exampleFormControlTextarea1" rows="15">{{data.comments}}</textarea>

  	</div>
  {% endblock %}
