{% extends 'main.html' %}

  {% block content %}
    
    {% load f_extras %}

  	<ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        {% url 'start_project' data.id as start_project %}
        <a class="nav-link {% if start_project == request.path %} active {% endif %}" href="{% url 'start_project' data.id %}">Начальная страница</a>
      </li>
      <li class="nav-item">
        {% url 'const_start' data.id as const_start %}
        <a class="nav-link {% if const_start == request.path %} active {% endif %}" href="{% url 'const_start' data.id %}">Подбор констант</a>
      </li>
      <li class="nav-item">
        {% url 'clustering_start' data.id as clustering_start %}
        {% if data.stage >= 3 %}
        <a class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</a>
        {% else %}
        <p class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</p>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'classification_start' data.id as classification_start %}
        {% if data.stage == 4 %}
          <a class="nav-link {% if classification_start == request.path %} active {% endif %}" href="{% url 'classification_start' data.id %}">Классификация</a>
        {% else %}
          <p class="nav-link {% if classification_start == request.path %} active {% endif %}" href="{% url 'classification_start' data.id %}">Классификация</p>
        {% endif %}
      </li>


  	<div class="container">

      <p><a href="{% url 'table' data.id %}">Посмотреть данные</a></p>
      <hr/>
      
      <p><a href="{% url 'download_data' data.id %}">Скачать данные</a></p>
      <hr/>

      <p><a href="{% url 'download_settings' data.id %}">Скачать константы</a></p>
      <hr/>

      <form action="{% url 'f_statistic' data.id %}" method="post" id="statistic">
          {% csrf_token %}
          <p>Количество интервалов</p>
          <p><input name="num_interval" type="number" min=2 max={{rows}} step=1 value=10></p>
        </form>
      <p><button form="statistic" type="submit" class="btn btn-primary mt-1">Статистика по F</button></p>
      <hr/>

      <form action="{% url 'clustering_start' data.id %}" method="post" id="save">
        {% csrf_token %}
        <h3>Consts</h3>
          <p title='Шаг по Y (только 2 способ)'>Y_step {{settings.consts.Y_step}} </p>
          <p title='Начальная константа при подборе а'>const {{settings.consts.const}}</p>
          <p title='Количество шагов вниз по степени для 3-го способа'>down_steps {{settings.consts.down_steps}}</p>
          <p title='Максимальное количество шагов для 4-го способа'>max_depth {{settings.consts.max_depth}}</p>
          <p title='Процент расстоний, который учитывается'>percent_X {{settings.consts.percent_X}}</p>
          <p title='Процент точек с максимальными Y'>percent_Y {{settings.consts.percent_Y}}</p>
          <p title='Процент минимальных расстояний при нормировке'>percent_for_norms {{settings.consts.percent_for_norms}}</p>
          <p title='Процент нулевых расстояний, больше которого не будет браться'>percent_of_zeros {{settings.consts.percent_of_zeros}}</p>
          <p title='Константа округления'>round_const {{settings.consts.round_const}}</p>
          <p title='Порог для 2-го способа'>threshold {{settings.consts.threshold}}</p>
          <p title='Количество шагов вверх по степени для 3-го способа'>up_steps {{settings.consts.up_steps}}</p>
          <p title='Процент точек с максимальным F для рассчета dif'>U {{settings.consts.U}}</p>
          <p title='Количество точек для подсчета min dif и min diff'>w {{settings.consts.w}}</p>
          {% if settings.consts.a %}
            <p style="color:red"  title='Итоговое а'>a {{settings.consts.a}}</p>
          {% endif %}
        <h3>conturs</h3>
          <p title='"min_points"   - это мы когда контуры рассчитываем,  идем  вниз по направлению снижения Ф
и данная константа  отвечает за шаг  - т..е. каждый раз смещаемся на 30 точек и рассчитываем  контур  от  contour_points  =50ти точек'>min_points
          <input name="min_points" type="number" step="any" value={{settings.conturs.min_points}}></p>
          <p title='?'>contour_points
          <input name="contour_points" type="number" step="any" value={{settings.conturs.contour_points}}></p>
          <p title='это среднее расстояние (средний вес ребра) полученное от минимальных-прилегающих для  каждой из  contour_points'>num_of_lenghts
          <input name="num_of_lenghts" type="number" step="any" value={{settings.conturs.num_of_lenghts}}></p>
          
          <p title=' это дополнительный критерий нахождения уровней на которых контуры рассчитываем  - с одной стороны , мы шагаем через каждые х штук min_points, 
а с другой имеем условие, что  разность Ф  между соседними контурами не должна быть выше min_diff  -т.е, даже если  точек и меньше,
чем =min_points  мы в таких случаях все равно контур должны рассчитать.'>min_diff
          <input name="min_diff" type="number" step="any" value={{settings.conturs.min_diff}}></p>

        <h3>isolated_cluster</h3>
          <p title='коэф-т на который умножаем контур и если расстояния между двумя точками меньше чем контур*constU1  то Профиль не проводим'>constU1
          <input name="constU1" type="number" step="any" value={{settings.isolated_cluster.constU1}}></p>
          <p title='Минимальная длина между 2 точками для рассчета профилей'>min_len
          <input name="min_len" type="number" step="any" value={{settings.isolated_cluster.min_len}}></p>
          <p title='Это - на сколько делений каждый раз разбиваем отрезок Профиля, чтобы точки расчета Ф получить'>divider
          <input name="divider" type="number" step="any" value={{settings.isolated_cluster.divider}}></p>
          <p title='Порог для мерджинга'>merge_threshold
          <input name="merge_threshold" type="number" step="any" value={{settings.isolated_cluster.merge_threshold}}></p>
          <p title='Максимальное количество делейний при расчете профилей (контрольные уровни)'>max_div_num
          <input name="max_div_num" type="number" step="any" value={{settings.isolated_cluster.max_div_num}}></p>
          <p title='максимально допустимая просадка в профиле'>min_dif
          <input name="min_dif" type="number" step="any" value={{settings.isolated_cluster.min_dif}}></p>

        {% if settings.norms %}
          <h3>norms</h3>
            {% for norm in settings.norms %}
              <p>{{norm}} {{ settings.norms|get_item:norm }}</p>
            {% endfor %}
        {% endif %}
      </form>
      <p><button form="save" type="submit" class="btn btn-primary mt-4">Сохранить</button></p>

      {% if status_cluster %}
        <p><a href="{% url 'compute_clustering' data.id 1 %}">Кластеризация</a></p>
        <p><a href="{% url 'compute_clustering' data.id 2 %}">Бстрая кластеризация</a></p>
      {% endif %}
      {% if status_merge %}
        <p><a href="{% url 'compute_clustering' data.id 3 %}">Merging</a></p>
      {% endif %}
      {% if status_subcluster %}
        <p><a href="{% url 'compute_clustering' data.id 4 %}">Сабкластеризация</a></p>
      {% endif %}

      {% if status_del_cluster %}
        <p><a href="{% url 'del_clustering' data.id 1 %}">Удалить результаты кластеризации</a></p>
      {% endif %}

      {% if status_del_subcluster %}
        <p><a href="{% url 'del_clustering' data.id 2 %}">Удалить результаты сабкластеризации</a></p>
      {% endif %}

      <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="10">{{data.comments}}</textarea>
      <a href="{% url 'classification_start' data.id %}">Далее</a>

  	</div>
  {% endblock %}
