{% extends 'main.html' %}

  {% block content %}

    {% load f_extras %}

    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        {% url 'start_project' data.id as start_project %}
        <a class="nav-link {% if start_project == request.path %} active {% endif %}" href="{% url 'start_project' data.id %}">Начальная страница</a>
      </li>
      <li class="nav-item">
        {% url 'const_start' data.id as const_start %}
        <a class="nav-link {% if const_start == request.path %} active {% endif %}" href="{% url 'const_start' data.id %}">Подбор констант</a>
      </li>
      <li class="nav-item">
        {% url 'clustering_start' data.id as clustering_start %}
        {% if data.stage >= 3 %}
        <a class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</a>
        {% else %}
        <p class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</p>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'classification_start' data.id as classification_start %}
        {% if data.stage == 4 %}
        <a class="nav-link {% if classification_start == request.path %} active {% endif %}" href="{% url 'classification_start' data.id %}">Классификация</a>
        {% else %}
        <p class="nav-link {% if classification_start == request.path %} active {% endif %}" href="{% url 'classification_start' data.id %}">Классификация</p>
        {% endif %}
      </li>
    </ul>


    <div class="container">

      <hr/>
      <h5>Название проекта: {{data.name}}</h5>
      <h5>Имя файла: {{data.attach.name}}</h5>
      <hr/>

      <p><a href="{% url 'table' data.id %}">Посмотреть данные</a></p>
      <hr/>

      <p><a href="{% url 'download_data' data.id %}">Скачать данные</a></p>
      <hr/>

      <p><a href="{% url 'download_settings' data.id %}">Скачать константы</a></p>
      <hr/>

      <p><a href="{% url 'const_reload' data.id %}">Обнулисть костанты</a></p>
      <hr/>

      <form action="{% url 'distance_statistic' data.id %}" method="post" id="statistic">
          {% csrf_token %}
          <p>Количество интервалов</p>
          <p><input name="num_interval" type="number" min=2 max={{rows}} step=1 value=10></p>
        </form>
      <p title='Доступно после вычисления а'><button form="statistic" type="submit" class="btn btn-primary mt-1" {% if not settings.norms %} disabled {% endif %}>Статистика по расстояниям</button></p>
      <hr/>

      <form action="{% url 'const_start' data.id %}" method="post" id="save">
        {% csrf_token %}

        <div class="row">
        <div class="col">
        <h4>Удалить координаты из вычислений</h4>
        {% for col in columns %}
          <div class="form-check">
            <input title='Удалить данную координату в процессе вычислений' name="need_coords" class="form-check-input" type="checkbox" value="{{col.0}}" id="flexCheckDefault" {% if col.1 %} checked {% endif %}>
            <label title='Удалить данную координату в процессе вычислений' class="form-check-label" for="flexCheckDefault">
              {{col.0}}
            </label>
          </div>
        {% endfor %}
        </div>
        <div class="col">
        {% if settings.norms %}
          <h3>norms</h3>
            {% for norm in settings.norms %}
              <p>{{norm}}
              <input name={{norm}} type="number" step="any" value={{ settings.norms|get_item:norm }}></p>
            {% endfor %}
        {% endif %}
        </div>

      </div>
      <hr/>
      <div class="container">
        <h3>Подбор констант</h3>

        <p title='Процент минимальных ребер'>Процент минимальных ребер
        <input name="percent_X" type="number" step="0.1" min="1" max = "100" value={{settings.consts.percent_X}}></p>

        <p title='Начальная константа при подборе а'>Коэффициент при "а"
        <input name="const" type="number" step="any" value={{settings.consts.const}}></p>

        {% if settings.consts.a %}
          <p style="color:red" title='Итоговое а'>a
          <input name="a" type="number" step="any" value={{settings.consts.a}}></p>
        {% endif %}
        {% if not const_status%}
          <p style="color:red" title='Стартовое а'>started a
          <input name="started_a" type="number" step="any"></p>
        {% endif %}
      </div>
    </form>

    <p><button form="save" type="submit" class="btn btn-primary mt-4">Сохранить</button></p>

    {% if not settings.norms %}
      <p><a href="{% url 'calculate_norms' data.id %}">Расчитать нормы</a></p>
      <p><a href="{% url 'calculate_pca_norms' data.id %}">Расчитать нормы + PCA</a></p>
    {% endif %}

    {% if settings.norms %}
      <p><a href="{% url 'calculate_a' data.id 0 %}">Базовый подбор констант</a></p>
      <p><a href="{% url 'calculate_a' data.id 4 %}">Оптимизированный подбор констант</a></p>
    {% endif %}

    <hr/>
    <p><a href="{% url 'clear_log' data.id %}">Очистить лог</a></p>
    <hr/>
    <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="10">{{data.comments}}</textarea>
    {% if settings.consts.a %}
      <a href="{% url 'clustering_start' data.id %}" class='btn btn-success mt-4 mb-5'>Далее</a>
    {% endif %}
  </div>
  {% endblock %}
