{% extends 'main.html' %}

  {% block content %}
    
    {% load f_extras %}

  	<ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        {% url 'start_project' data.id as start_project %}
        <a class="nav-link {% if start_project == request.path %} active {% endif %}" href="{% url 'start_project' data.id %}">Начальная страница</a>
      </li>
      <li class="nav-item">
        {% url 'const_start' data.id as const_start %}
        <a class="nav-link {% if const_start == request.path %} active {% endif %}" href="{% url 'const_start' data.id %}">Подбор констант</a>
      </li>
      <li class="nav-item">
        {% url 'clustering_start' data.id as clustering_start %}
        {% if data.stage >= 3 %}
        <a class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</a>
        {% else %}
        <p class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</p>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'classification_start' data.id as classification_start %}
        {% if data.stage == 4 %}
        <a class="nav-link {% if classification_start == request.path %} active {% endif %}" href="{% url 'classification_start' data.id %}">Классификация</a>
        {% else %}
        <p class="nav-link {% if classification_start == request.path %} active {% endif %}" href="{% url 'classification_start' data.id %}">Классификация</p>
        {% endif %}
      </li>


  	<div class="container">
      <p><a href="{% url 'table' data.id %}">Посмотреть данные</a></p>
      <hr/>

      <p><a href="{% url 'download_data' data.id %}">Скачать данные</a></p>
      <hr/>

      <p><a href="{% url 'download_settings' data.id %}">Скачать константы</a></p>
      <hr/>

      <p><a href="{% url 'const_reload' data.id %}">Обнулисть костанты</a></p>
      <hr/>

      <form action="{% url 'distance_statistic' data.id %}" method="post" id="statistic">
          {% csrf_token %}
          <p>Количество интервалов</p>
          <p><input name="num_interval" type="number" min=2 max={{rows}} step=1 value=10></p>
        </form>
      <p title='Доступно после вычисления а'><button form="statistic" type="submit" class="btn btn-primary mt-1" {% if not settings.norms %} disabled {% endif %}>Статистика по расстояниям</button></p>
      <hr/>
      <form action="{% url 'const_start' data.id %}" method="post" id="save">
        {% csrf_token %}

        <div class="row">
        <div class="col">
        <h4>Удалить координаты из вычислений</h4>
        {% for col in columns %}
          <div class="form-check">
            <input title='Удалить данную координату в процессе вычислений' name="need_coords" class="form-check-input" type="checkbox" value="{{col.0}}" id="flexCheckDefault" {% if col.1 %} checked {% endif %}>
            <label title='Удалить данную координату в процессе вычислений' class="form-check-label" for="flexCheckDefault">
              {{col.0}}
            </label>
          </div>
        {% endfor %}
        </div>
        <div class="col">
        {% if settings.norms %}
          <h3>norms</h3>
            {% for norm in settings.norms %}
              <p>{{norm}}
              <input name={{norm}} type="number" step="any" value={{ settings.norms|get_item:norm }}></p>
            {% endfor %}
        {% endif %}
        </div>

      </div>
      <hr/>
    <div class="row">
      <div class="col">
        <h3>Consts</h3>
          <p title='Шаг по Y (только 2 способ)'>Y_step
          <input name="Y_step" type="number" step="5" value={{settings.consts.Y_step}}></p>
          <p title='Начальная константа при подборе а'>const
          <input name="const" type="number" step="any" value={{settings.consts.const}}></p>
          <p title='Количество шагов вниз по степени для 3-го способа'>down_steps
          <input name="down_steps" type="number" step="1" value={{settings.consts.down_steps}}></p>
          <p title='Максимальное количество шагов для 4-го способа'>max_depth
          <input name="max_depth" type="number" step="1" value={{settings.consts.max_depth}}></p>
          <p title='Процент расстоний, который учитывается'>percent_X
          <input name="percent_X" type="number" step="5" value={{settings.consts.percent_X}}></p>
          <p title='Процент точек с максимальными Y'>percent_Y
          <input name="percent_Y" type="number" step="5" value={{settings.consts.percent_Y}}></p>
          <p title='Процент минимальных расстояний при нормировке'>percent_for_norms
          <input name="percent_for_norms" type="number" step="any" value={{settings.consts.percent_for_norms}}></p>
          <p title='Процент нулевых расстояний, больше которого не будет браться'>percent_of_zeros
          <input name="percent_of_zeros" type="number" step="any" value={{settings.consts.percent_of_zeros}}></p>
          <p title='Константа округления'>round_const
          <input name="round_const" type="number" step="any" value={{settings.consts.round_const}}></p>
          <p title='Порог для 2-го способа'>threshold
          <input name="threshold" type="number" step="any" value={{settings.consts.threshold}}></p>
          <p title='Количество шагов вверх по степени для 3-го способа'>up_steps
          <input name="up_steps" type="number" step="any" value={{settings.consts.up_steps}}></p>
          <p title='Процент точек с максимальным F для рассчета dif'>U
          <input name="U" type="number" step="any" value={{settings.consts.U}} min=10></p>
          <p title='Количество точек для подсчета min dif и min diff'>w
          <input name="w" type="number" step="any" value={{settings.consts.w}}></p>
          {% if settings.consts.a %}
            <p style="color:red" title='Итоговое а'>a
            <input name="a" type="number" step="any" value={{settings.consts.a}}></p>
          {% endif %}
          {% if not const_status%}
            <p style="color:red" title='Стартовое а'>started a
            <input name="started_a" type="number" step="any"></p>
          {% endif %}
        </div>
        <div class="col">
        <h3>conturs</h3>
          <p title='"min_points"   - это мы когда контуры рассчитываем,  идем  вниз по направлению снижения Ф
и данная константа  отвечает за шаг  - т..е. каждый раз смещаемся на 30 точек и рассчитываем  контур  от  contour_points  =50ти точек'>min_points
          <input name="min_points" type="number" step="any" value={{settings.conturs.min_points}}></p>
          <p title='?'>contour_points
          <input name="contour_points" type="number" step="any" value={{settings.conturs.contour_points}}></p>
          <p title='это среднее расстояние (средний вес ребра) полученное от минимальных-прилегающих для  каждой из  contour_points'>num_of_lenghts
          <input name="num_of_lenghts" type="number" step="any" value={{settings.conturs.num_of_lenghts}}></p>
          
          {% if settings.conturs.min_diff|length > 0 %}
            <p title=' это дополнительный критерий нахождения уровней на которых контуры рассчитываем  - с одной стороны , мы шагаем через каждые х штук min_points, 
а с другой имеем условие, что  разность Ф  между соседними контурами не должна быть выше min_diff  -т.е, даже если  точек и меньше,
чем =min_points  мы в таких случаях все равно контур должны рассчитать.'>min_diff</p>
            <p><input name="min_diff_0" type="number" step="any" value={{settings.conturs.min_diff.0}}></p>
            <p><input name="min_diff_1" type="number" step="any" value={{settings.conturs.min_diff.1}}></p>
          {% else %}
            <p title=' это дополнительный критерий нахождения уровней на которых контуры рассчитываем  - с одной стороны , мы шагаем через каждые х штук min_points, 
а с другой имеем условие, что  разность Ф  между соседними контурами не должна быть выше min_diff  -т.е, даже если  точек и меньше,
чем =min_points  мы в таких случаях все равно контур должны рассчитать.'>min_diff
            <input name="min_diff" type="number" step="any" value={{settings.conturs.min_diff}}></p>
          {% endif %}
        
      
        <h3>Isolated_cluster</h3>
          <p title='коэф-т на который умножаем контур и если расстояния между двумя точками меньше чем контур*constU1  то Профиль не проводим'>constU1
          <input name="constU1" type="number" step="any" value={{settings.isolated_cluster.constU1}}></p>
          <p title='Минимальная длина между 2 точками для рассчета профилей'>min_len
          <input name="min_len" type="number" step="any" value={{settings.isolated_cluster.min_len}}></p>
          <p title='Это - на сколько делений каждый раз разбиваем отрезок Профиля, чтобы точки расчета Ф получить'>divider
          <input name="divider" type="number" step="any" value={{settings.isolated_cluster.divider}}></p>
          <p title='Порог для мерджинга'>merge_threshold
          <input name="merge_threshold" type="number" step="any" value={{settings.isolated_cluster.merge_threshold}}></p>
          <p title='Максимальное количество делейний при расчете профилей (контрольные уровни)'>max_div_num
          <input name="max_div_num" type="number" step="any" value={{settings.isolated_cluster.max_div_num}}></p>
          {% if settings.isolated_cluster.min_dif|length > 0 %}
            <p title='максимально допустимая просадка в профиле'>min_dif</p>
            <p><input name="min_dif_0" type="number" step="any" value={{settings.isolated_cluster.min_dif.0}}></p>
            <p><input name="min_dif_1" type="number" step="any" value={{settings.isolated_cluster.min_dif.1}}></p>
          {% else %}
            <p title='максимально допустимая просадка в профиле'>min_dif
            <input name="min_dif" type="number" step="any" value={{settings.isolated_cluster.min_dif}}></p>
          {% endif %}
        <h3>Subclustering</h3>
          <p title='Процент точек для расчета концевых точек'>Max_persent
          <input name="Max_persent" type="number" step="any" min=10 value={{settings.subcluster.Max_persent}}></p>
          <p title='Количество интервальных делений'>Steps
          <input name="Steps" type="number" step="any" min=2 value={{settings.subcluster.Steps}}></p>
          <p title='Максимальное количество точек в одном сабкластере,  внутри одного уровня'>max_key_points
          <input name="max_key_points" type="number" step="any" min=1 value={{settings.subcluster.max_key_points}}></p>
        </div>
      </div>
      </form>

      <p><button form="save" type="submit" class="btn btn-primary mt-4">Сохранить</button></p>

      <p><a href="{% url 'calculate_a' data.id 0 %}">Нулевой способ</a></p>
      <p><a href="{% url 'calculate_a' data.id 1 %}">Первый способ</a></p>
      <p><a href="{% url 'calculate_a' data.id 2 %}">Второй способ</a></p>
      <p><a href="{% url 'calculate_a' data.id 3 %}">Третий способ</a></p>
      <p><a href="{% url 'calculate_a' data.id 4 %}">Четвертый способ</a></p>

      <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="10">{{data.comments}}</textarea>
      {% if settings.consts.a %}
        <a href="{% url 'clustering_start' data.id %}">Далее</a>
      {% endif %}
	</div>
  {% endblock %}
