{% extends 'main.html' %}

  {% block content %}

  	<ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        {% url 'start_project' data.id as start_project %}
        <p class="nav-link {% if start_project == request.path %} active {% endif %}" href="{% url 'start_project' data.id %}">Начальная страница</p>
      </li>
      <li class="nav-item">
      	{% url 'const_start' data.id as const_start %}
        <p class="nav-link {% if const_start == request.path %} active {% endif %}" href="{% url 'const_start' data.id %}">Подбор констант</p>
      </li>
      <li class="nav-item">
        <p class="nav-link {% if clustering_start == request.path %} active {% endif %}" href="{% url 'clustering_start' data.id %}">Кластеризация</p>
      </li>
      <li class="nav-item">
        <p class="nav-link {% if start_project == request.path %} active {% endif %}" href="{% url 'start_project' data.id %}">Классификация</p>
      </li>


  	<div class="container">

      <p><a href="{% url 'table' data.id %}">Посмотреть данные</a></p>

      <a href="{% url 'statistic' data.id %}">Статистика</a>

      <textarea name="text" cols="40" rows="15">{{data.comments}}</textarea>
      {% if data.stage == 1 or data.stage == 2 %}
        <a href="{% url 'const_start' data.id %}">Далее</a>
      {% elif data.stage == 3 %}
        <a href="{% url 'clustering_start' data.id %}">Далее</a>
      {% endif %}

  	</div>
  {% endblock %}
